.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.textAngular{
	margin-top: 2em;
}

.superTitle{
	font-size: 10.5em;
	display: inline-block;
}

.miniTitle{
	font-size: 0.15em;
	display: inline-block;
}
.header-cont{
	margin-bottom: 5em;
}

@media screen and (max-width: 1024px) {
    .superTitle{
		font-size: 8em;
		display: inline-block;
	}
}